@import "./node_modules/reset-css/sass/reset";

$color-text: #000000;
$color-hover: #CFD8DC;
$color-background: #ECEFF1;
$size-header: 18px;


@import "header.scss";
@import "member.scss";
@import "schedule.scss";
@import "main.scss";

@mixin margin-wrapper {
  margin: 0 auto;
  padding: 0 50px;
}

body {
  color: black;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100vh;

  &-header {
    @include margin-wrapper;
    border-bottom: 1px solid black;
  }

  &-main {
    @include margin-wrapper;
  }
}
