@import "./node_modules/reset-css/sass/reset";

$color-text: #000000;
$size-header: 18px;

@mixin margin-wrapper {
  margin: 0 auto;
  padding: 0 50px;
}

body {
  color: black;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100vh;

  &-header {
    @include margin-wrapper;
    border-bottom: 1px solid black;
  }
}

.header {
  padding: 20px 0;
  height: 50px;

  display: flex;

  &-logo {
    flex-basis: 55px;

    & img {
      height: 100%;
      width: 100%;
    }

  }

  &-menu {
    padding: 0 10px;

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;

    &__item {
      font-weight: bold;
    }

    &__link {
      color: $color-text;
      font-size: $size-header;
    }
  }

}
