@mixin margin-wrapper {
  margin: 0 auto;
  padding: 0 50px;
}

.wrapper {
  height: 100vh;

  &-header {
   @include margin-wrapper;
     border-bottom: 1px solid black;
   }

  &-main {
   @include margin-wrapper;
   }
}