/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#menu-hamburger__toggle {
  opacity: 0; }

#menu-hamburger__toggle:checked ~ .menu-hamburger__btn > span {
  transform: rotate(45deg); }

#menu-hamburger__toggle:checked ~ .menu-hamburger__btn > span::before {
  top: 0;
  transform: rotate(0); }

#menu-hamburger__toggle:checked ~ .menu-hamburger__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#menu-hamburger__toggle:checked ~ .menu-hamburger__box {
  visibility: visible;
  right: 0; }

.menu-hamburger__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 50px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1; }

.menu-hamburger__btn > span,
.menu-hamburger__btn > span::after,
.menu-hamburger__btn > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s; }

.menu-hamburger__btn > span::before {
  content: '';
  top: -8px; }

.menu-hamburger__btn > span::after {
  content: '';
  top: 8px; }

.menu-hamburger__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s; }

.menu-hamburger__item {
  display: block;
  text-align: center;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s; }

.menu-hamburger__item:hover {
  background-color: #CFD8DC; }

.menu-hamburger__link {
  color: #000000;
  font-size: 18px; }

.header {
  padding: 20px 0;
  height: 50px;
  display: flex; }
  .header-logo {
    flex-basis: 55px; }
    .header-logo img {
      max-height: 100%;
      max-width: 100%; }
  .header-menu {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around; }
    .header-menu__item {
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent; }
      .header-menu__item:hover {
        border-color: #CFD8DC; }
    .header-menu__link {
      color: #000000;
      font-size: 18px; }
    @media (max-width: 600px) {
      .header-menu {
        display: none; }
        .header-menu__hamburger-menu {
          display: block; } }
  .header__hamburger-menu {
    display: none; }
    @media (max-width: 600px) {
      .header__hamburger-menu {
        display: block; } }

.members {
  padding: 40px 0; }
  .members > h3 {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center; }
  .members-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .members-card {
    box-sizing: border-box;
    border: 1px solid #000000;
    display: flex;
    flex-basis: 300px;
    color: #000000;
    margin: 0 20px 10px;
    padding: 20px 10px; }
    .members-card__avatar {
      max-width: 50px;
      flex-basis: 50px;
      margin-right: 10px; }
      .members-card__avatar img {
        max-height: 100%;
        max-width: 100%; }
    .members-card__right {
      display: flex;
      flex-direction: column; }
    .members-card__body {
      margin-top: auto; }

.schedule {
  padding: 50px 0 0px;
  font-weight: bold; }
  .schedule > h2 {
    font-size: 24px;
    text-align: center; }
  .schedule > img {
    display: block;
    margin: 0 auto; }

body {
  color: black; }

a {
  text-decoration: none; }

.wrapper {
  height: 100vh; }
  .wrapper-header {
    margin: 0 auto;
    padding: 0 50px;
    border-bottom: 1px solid black; }
  .wrapper-main {
    margin: 0 auto;
    padding: 0 50px; }
