/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  padding: 20px 0;
  height: 50px;
  display: flex; }
  .header-logo {
    flex-basis: 55px; }
    .header-logo img {
      max-height: 100%;
      max-width: 100%; }
  .header-menu {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around; }
    .header-menu__item {
      font-weight: bold; }
    .header-menu__link {
      color: #000000;
      font-size: 18px; }

.members {
  padding: 40px 0; }
  .members > h2 {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center; }
  .members-wrapper {
    display: flex;
    justify-content: center; }
  .members-card {
    box-sizing: border-box;
    border: 1px solid #000000;
    display: flex;
    flex-basis: 300px;
    color: #000000;
    margin: 0 20px;
    padding: 20px 10px; }
    .members-card__avatar {
      max-width: 50px;
      flex-basis: 50px;
      margin-right: 10px; }
      .members-card__avatar img {
        max-height: 100%;
        max-width: 100%; }
    .members-card__right {
      display: flex;
      flex-direction: column; }
    .members-card__body {
      margin-top: auto; }

body {
  color: black; }

a {
  text-decoration: none; }

.wrapper {
  height: 100vh; }
  .wrapper-header {
    margin: 0 auto;
    padding: 0 50px;
    border-bottom: 1px solid black; }
  .wrapper-main {
    margin: 0 auto;
    padding: 0 50px; }
